@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Custom fonts - Basier Circle */

/* Regular */
@font-face {
  font-family: 'Basier Circle';
  src: url('../../public/fonts/Basier\ Circle\ Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

/* Italic */
@font-face {
  font-family: 'Basier Circle';
  src: url('../../public/fonts/Basier\ Circle\ Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

/* Medium */
@font-face {
  font-family: 'Basier Circle';
  src: url('../../public/fonts/Basier\ Circle\ Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

/* Medium Italic */
@font-face {
  font-family: 'Basier Circle';
  src: url('../../public/fonts/Basier\ Circle\ Italic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

/* SemiBold */
@font-face {
  font-family: 'Basier Circle';
  src: url('../../public/fonts/Basier\ Circle\ SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: 'Basier Circle';
  src: url('../../public/fonts/Basier\ Circle\ Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Basier Circle', sans-serif;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #e5e7e9; 
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

/* Custom responsiveness for ChatUI */
@media (max-width: 768px) {
  .responsive-chat {
    width: 100% !important;
    height: 100dvh !important;
    border-radius: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    border-left: none;
    border-right: none;
  }
}